[2014-11-25 11:39] KrauseFx opened #2 "Allow setting of password for generated PEM file"

[2014-11-25 23:11] KrauseFx opened #3 "Automatically detect the app identifier of current folder"
This should be somehow possible:

Find a valid Info.plist in the current directory and fetch the bundle identifier of the project from there.

[2014-11-26 14:43] dragan26 opened #4 "Generate development pem file"
Hi,

I tried to generate pem file for development  with:
pem --development

I got: invalid option: --development.

Thanks,
Dragan

[2014-11-27 16:27] #4 closed, assigned to nobody

[2014-11-27 21:30] kjf opened #5 "SSL Error on push using PEM development certificate"
I generated a PEM certificate using the instructions in the README and all seemed to work ok. However, when I try to push the notification using the pem development certificate if receive the following error in my terminal.

This is with the ruby houston gem:

[code]

I also tried with the ruby grocer gem to be sure it's not a ruby issue and received the same error.

[code]

My hand generated pem

[2014-11-28 12:33] muffe opened #6 "Add ability to select team"
Let's add the the ability to choose the team of sigh to PEM :)
https://github.com/KrauseFx/sigh/pull/7

[2014-11-28 14:06] #6 closed, assigned to nobody

[2014-12-01 12:15] alistra opened #9 "Update pem -h"
Currently the help doesn't give any info about team id.
You have to do pem renew -h to have a helpful feedback - that's still incomplete.

Please just put the whole README.md into the output of pem -h

[2014-12-01 12:17] alistra opened #10 "Command line option to provide name for the output PEM file"
If the idea of the tool is to use it in scripts, next scripts should deterministically know which file pem had created. Currently it's `development_bundle_id.pem` or something.

There should be an `-o` flag, to set the output name.

[2014-12-01 12:25] xuki opened #11 "Stop the process if download fails."
I'm using PEM to generate multiple certificates for multiple targets. Sometimes the download failed but you always copy `/tmp/PEM/pem_temp.pem` without checking, I ended up with a duplicate certificate.

[code]

[2014-12-01 12:52] alistra opened #12 "PEM should redownload and recreate pem file if one is already active"
`error: Could not create a new push profile for app '<redacted>'. There is already a profile active.`

This output of a script isn't particularly helpful. If you deleted the previous .pem or you're using a Continuous Integration that clears everything you still have to redownload them manually.

I would propose for it to redownload the cert and recreate the PEM file, if one is already active.

[2014-12-01 13:10] alistra opened #13 "Uncommon error with downloading the certificate"
I was using PEM to generate 60 app pem files. This happened to me 11 times:

`https://developer.apple.com/account/ios/certificate/certificateContentDownload.action?displayId=7H6QYPGXT4&type=3BQKVH9I2X
error: redirection forbidden: https://developer.apple.com/account/ios/certificate/certificateContentDownload.action?displayId=7H6QYPGXT4&type=3BQKVH9I2X -> http://developer.apple.com/account/selectTe

[2014-12-01 15:03] alistra opened #14 "Support .p12"
Passwordless `.p12` are required in some services, namely Parse.com.

You can use this snippet to convert the resulting `.pem` to `.p12`.

`openssl pkcs12 -export -password pass:"" -in develop.pem -inkey develop.pem -out develop.p12`

[2014-12-01 17:00] alistra opened #15 "Sometimes PEM crashes on CSR generation"
![error1417453076](https://cloud.githubusercontent.com/assets/233144/5249489/c64aecb0-7983-11e4-9d22-ae27715eb957.png)

Following crash occurs

    INFO [2014-12-01 17:57:36.40]: Refreshing push notification profiles for app '<redacted>'
    INFO [2014-12-01 17:57:38.69]: Login into iOS Developer Center
    INFO [2014-12-01 17:57:48.79]: Login successful
    WARN [2014-12-01 17:57:52.28]: Push for

[2014-12-03 16:07] mRs- opened #16 "unable to load certificate"
Hi Felix,

tried pem with multi user support today but got this error

[code]

[2014-12-04 21:17] #3 closed, assigned to nobody

[2014-12-10 22:47] #5 closed, assigned to nobody

[2014-12-23 17:00] #13 closed, assigned to nobody

[2014-12-23 17:01] #16 closed, assigned to nobody

[2015-01-05 15:42] victorquinn commented on #12
:+1:

I would like to use this to refresh an expiring cert and it won't solve that problem as currently written.

[2015-01-05 16:07] KrauseFx commented on #12
I plan to do the following:

When a push certificate is already active, it will not get revoked. `PEM` will instead create a new push profile for the second 'slot', to allow uninterrupted push notifications. As a result, 2 push certificates are active (the previous one and a new one from `PEM`) and the user can then manually revoke the old certificate, after ensuring, everything works fine with th

[2015-01-05 16:54] KrauseFx commented on #12
Okay, I pushed a fix for this issue: https://github.com/KrauseFx/PEM/commit/7ed323de7c88f667bc6fe8b5022f9585e05c3aed

You could help me by trying it:
- Download the repo as ZIP
- Run `sudo bundle install`
- Run `sudo rake install`

Try it again, `PEM` should now automatically use the second available slow if the first one is already taken.

[2015-01-05 17:07] victorquinn commented on #12
@KrauseFx that sounds absolutely perfect, thanks!

I'll try it out this afternoon

[2015-01-06 16:28] victorquinn commented on #12
@KrauseFx worked like a charm, thanks!

[2015-01-06 16:29] KrauseFx commented on #12
Great! I'll push a new version! :+1:

[2015-01-06 16:29] #12 closed

[2015-01-13 15:31] muffe commented on #11
Since the original problem of this issue is fixed, should we close this and create a feature request for the naming of the temp files @KrauseFx?

[2015-01-13 15:32] KrauseFx commented on #11
Good idea, @muffe

[2015-01-13 15:32] #11 closed

[2015-01-19 10:11] KrauseFx opened #20 "PEM should not do anything if the current profile is active"
If the current push profile is active for at least 2 more weeks, it should do nothing, except when providing a `--force` flag.

If it's only 2 weeks or less, it should create the new profile on a free slot

[2015-01-28 12:10] KrauseFx commented on #9
I updated `PEM` with: https://github.com/KrauseFx/PEM/commit/0215372fdf43ab5843181e33714bc7d04c657358

The output will look like this:
[code]
This will be included with the next release.

[2015-01-28 12:10] #9 closed

[2015-02-03 18:28] thiagolioy commented on #14
i also need to add -nokeys param

 openssl pkcs12 -export -nokeys -password pass:"" -in xxx.pem -inkey xxx.pem -out xxx.p12

[2015-02-05 14:55] mRs- opened #21 "integrate information about development certificates in --help"
At the moment it's only possible to create production certificates with PEM. It would be great to create Development Certificates as well.

[2015-02-05 15:07] KrauseFx commented on #21
It is possible to create Development profiles: https://github.com/KrauseFx/PEM#usage

Or is that not what you meant?

[2015-02-05 15:12] mRs- commented on #21
searched for it but --help were not so helpful?

[2015-02-05 16:08] KrauseFx commented on #21
That's already the case:
[code]

Maybe you're using a very old version of `PEM`?

[2015-02-05 16:08] #21 closed

[2015-02-10 17:48] almassapargali opened #22 "Ensure latest version only when used"
Hey, how do you think about calling [this](https://github.com/KrauseFx/PEM/blob/master/lib/pem.rb#L17) from `CertManager` or `bin/pem` since it check when I require pem?

It slows down a bit startup time of scripts. If we place it inside `CertManager` it'd check just before usage.

[2015-02-10 18:40] KrauseFx commented on #22
It does, that's a good point, but I also want to be sure to run it when it's being run by fastlane.

[2015-02-10 18:40] KrauseFx commented on #22
which is not the case if it's in the `bin/pem` script

[2015-02-11 12:36] iPavel92 opened #23 "Not working with long applications list"
We have more than 400 applications. In this case, page https://developer.apple.com/account/ios/identifiers/bundle/bundleList.action
does not display all apps in the list. Some apps in the bottom will appear only with scrolling.
So, it's better to use search button to find and open the app from the list.

[2015-02-11 12:49] KrauseFx commented on #23
That means `PEM` doesn't work in your case? What error occurs?

[2015-02-11 12:57] iPavel92 commented on #23
Trying to write first in my life ruby code to check the solution with search bar :)

[2015-02-11 14:09] iPavel92 commented on #23
fixed with this code, please check and add.
developer_center.rb:
[code]

[2015-02-11 16:43] KrauseFx commented on #23
Looks good. Does it work without the last sleep you added?

[2015-02-11 17:15] almassapargali commented on #22
Then what about `CertManager`? Btw, close this issue if you feel like there will be no changes soon.

[2015-02-12 11:42] iPavel92 commented on #23
Yes, it works without sleep. I'll test on more cases today.
btw thanks to your tool!

[2015-02-12 13:11] KrauseFx commented on #23
Perfect, please let me know, once you've tested it and I'll integrate the code into `PEM` :+1:

[2015-02-12 18:15] iPavel92 commented on #23
Results of my test:
1. sleep after search is required. I use 5 sec, don't wanna to risk with less values.
2. several times I've got the error:

This error was fixed by increasing the first sleep to 10 sec :(

[2015-02-12 18:46] #23 closed

[2015-02-12 18:46] KrauseFx commented on #23
Cool, thanks. I just pushed a fix, this will be in the next release.

[2015-02-19 00:59] bassrock commented on #14
A .p12 is also required for Safari Push Notifications.

[2015-02-19 01:08] bassrock opened #24 "Write Error"
I am getting the following error using pem as a regular user and as sudo:

[code]
And this is the image that popped up after the failure:
![error1424307898 copy](https://cloud.githubusercontent.com/assets/1010384/6260228/6d7b454e-b790-11e4-8a0b-0109d2acdefb.png)

[2015-02-19 09:50] floskel commented on #24
Im seeing this aswell. using 0.3.4

[2015-02-19 12:44] KrauseFx commented on #24
Sorry about this, I'll publish a fix ASAP.

[2015-02-19 13:07] KrauseFx commented on #24
In the mean time, you can manually run `mkdir -p /tmp/PEM`

[2015-02-19 13:12] KrauseFx commented on #24
Fixed with https://github.com/KrauseFx/PEM/commit/52403581994c1d8e9cc67917b8b20427c358bc0b

Please update using `sudo gem update pem`.

[2015-02-19 13:12] #24 closed

[2015-02-19 18:45] bassrock commented on #24
Sweet! Thanks!

[2015-02-19 18:54] bassrock opened #25 "Support Web App Ids"
I just tried to download a Web App Push Certificate. It failed when it tried to find the certificate. This is very much like regular app ids, except the app id is located in a different tab and only has production certificates.

[2015-02-20 21:12] powtac opened #26 "Permission denied error"
I run `pem 0.3.5`. After starting `pem` and providing valid data I get a permission denied error after `openssl x509 -inform der -in '/tmp/fastlane_core/aps_production_com.XXXX-Dev.cer' -out /tmp/PEM/pem_temp.pem`

`/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/fileutils.rb:519:in
rename': Permission denied - (/tmp/PEM/production_com.XXXX-Dev.pem, ./production_com.XXXX-

[2015-02-20 21:16] KrauseFx commented on #26
The `x509` command was successful. (take a look at your `/tmp/fastlane_core`)

`PEM` has problems moving the `pem` file into the output directory. (which is `./#{file_name`)

It looks like you're running `PEM` in `/`, which it doesn't have a permission to write to.

[2015-02-20 21:32] powtac commented on #26
It was the permission problem of the `/`folder. I thought everything will be run inside `/tmp`. No matter, after running it in the home dir it worked perfect! Thanks a lot for the great support on a Friday night!

[2015-02-20 21:32] #26 closed

[2015-02-20 21:34] KrauseFx commented on #26
Great to hear it solves your problem.

What else would I be doing on a Friday night? A perfect time to work on some cool open source projects :tada:

[2015-02-20 21:40] powtac commented on #26
lol! A passionate programmer! Cool!

So far I've not meet a dev that was fully able to understand this iOS signing and certification jungle. So I'm really amazed by this tiny pem script so far. Works very well has good error (screenshots!) messages. Not sure if that will solve my problems. Need to find a way to verify that the production push cert is working properly before releasing the app to th

[2015-02-20 21:43] KrauseFx commented on #26
Don't you have to verify the push certificate is still valid every single day basically? I mean, just in case you wouldn't update your app for one year.

I want to integrate something you mentioned into `PEM`. Something like: The certificate is only valid for 4 more weeks, create a new one and show, the old one can be deleted.

This way, this can also be integrated into `fastlane`. And: `PEM` woul

[2015-02-20 21:47] powtac commented on #26
How would I actually receive this message? From my experience it is more a fire and forget situation. As developer you are happy that the cert creation was successful and that you will probably not care for it for the next 11.99 months...

Of course it would be handy to have a `PEM` command for this situation available. But in my point of view it has a low priority. (Ask me in 11.99 months again :

[2015-02-20 21:49] KrauseFx commented on #26
Not sure what you mean, but image running `PEM` in a cron job every night, which will do nothing, unless the currently used profile is valid for only 4 more weeks.

[2015-02-20 21:52] powtac commented on #26
I see! Your seeing it from a CI point of view. I tried to understand it from a "command line" perspective. So, a cronjob would makes sense. Something like `pem -a ... -u ... -verify`.

[2015-02-23 17:26] yannisroy commented on #14
Same here, I need the private (.p12) to generate a key pem file.

[2015-02-24 21:18] carlosefonseca opened #28 "Creating push certificate fails but works"
Hi

I've seen this happen a couple times. Calling `pem` a second time seems to work.

[code]

[2015-02-25 10:00] KrauseFx commented on #28
What does the generated screenshot show? Can you upload it?

[2015-02-25 10:10] carlosefonseca commented on #28
The screenshot displays the app id list (https://developer.apple.com/account/ios/identifiers/bundle/bundleList.action)

I just revoked the push certificates, ran `pem -a … -u …` and I get that error and the app id list screenshot

[2015-02-26 16:33] RocketPop opened #29 "Fresh install fails to create certificate"
Hello - I just installed the full fastlane suite and manually created a new app with the "Produce" tool. Then I also attempt to manually create a push cert with 'PEM'. This fails %100 of the time for me.The output is as follows:

#### Not configured for push (error image simply shows the dev center list of my app IDs)
[code]
If I run it when the app ID is already configured for push messages - the

[2015-02-26 16:44] RocketPop commented on #29
So I edited /Library/Ruby/Gems/2.0.0/gems/pem-0.3.5/lib/pem/signing_request.rb to include
 ```require 'openssl' ``` at the top and that makes it work. I don't do Ruby so I don't know if this is good or bad :)

[2015-02-26 16:46] KrauseFx commented on #29
I'm currently trying to first run `produce` and then `pem`. Was there anything else you did?

[2015-02-26 16:49] RocketPop commented on #29
I installed fastlane via the quickstart.
Ran fastlane init in an empty folder (no app, no workspace - nothing at all in there).
Then ran 'produce' (which worked fine) followed by 'pem'

[2015-02-26 17:01] KrauseFx commented on #29
Thanks @RocketPop for the detailed report, this helped me a lot. I just released a new version, which should fix both issues!

Let me know if that works for you :+1:

[2015-02-26 17:01] #29 closed

[2015-02-26 17:22] RocketPop commented on #29
Tested with my previous steps and works fine now. Thanks for the help!

[2015-03-02 12:40] jaroslavas opened #30 "Apple ID locked for security reasons"
First of all thanks for a great tool!
I've been using it to generate pem files for several apps and on third app Apple blocked my account. Maybe you should consider some techniques to prevent this? Maybe make some random pauses between page loads or something else?

PS. It fantastic, that app makes a screenshot of a page that caused error.
![error1425299661 png](https://cloud.githubusercontent.com

[2015-03-02 13:50] KrauseFx commented on #30
You are the first one to report this. I saw that error message before, as far as I know it's just a wrong password you entered multiple times. Some people also report to see this error, if you have a service like AppAnnie running, which still uses and old password.

Please change your password and verify you're only entering the correct (new) password. If this problem persists and you think that's

[2015-03-02 13:50] #30 closed

[2015-03-02 13:57] jaroslavas opened #31 "What will happen if production certificate already exists?"
It is stated in readme, that:
`PEM will never revoke your existing certificates. `
But it's not clear what will happen if active production certificate already exists? Will it download currently active certificate and generate pem file?
I think #12 is about the same issue, but it would be nice if you would update readme file.

[2015-03-02 17:36] KrauseFx commented on #31
This is related to https://github.com/KrauseFx/PEM/issues/20

There are 2 slots available to create push profiles. `PEM` can't reuse the existing profiles, since it doesn't have the private key of this profile.

I'd really like to improve this, to also offer an integration into `fastlane`.

[2015-03-05 22:50] skunkworks opened #33 "Unable to import private key from PEM output"
I'm having issues importing the private key from the PEM file into my keychain. I can see it in the PEM file:

[code]

But opening the file by double-clicking it will only import the cert into the keychain without the private key. Because it's missing the private key, the cert doesn't show up under "My Certificates" in Keychain Access -- you'll see it under "All Items".

I've tried extracting the

[2015-03-06 10:03] KrauseFx commented on #33
Mh, maybe I'm missing something, but you don't need to have the push certificate in your keychain as far as I know. It is only needed to upload to your server to send push notifications.

[2015-03-06 10:03] KrauseFx commented on #33
To your question, the private key is stored somewhere in `/tmp` and will be deleted after the script was finished.

[2015-03-06 14:46] skunkworks commented on #33
Hmm okay, I was just concerned that the PEM that gets generated wouldn't work with SNS. I'll give it a shot first. Thanks.

[2015-03-06 14:46] #33 closed

[2015-03-06 14:49] KrauseFx commented on #33
Yes, let me know if everything works as expected :+1:

[2015-03-06 17:23] KrauseFx commented on #33
Just released a new version: https://github.com/KrauseFx/PEM/releases/tag/0.3.7

[2015-03-08 21:14] KrauseFx commented on #22
As you know, we have a separate issue in `fastlane_core`. I'll close this for now.

[2015-03-08 21:14] #22 closed

[2015-03-08 21:58] KrauseFx commented on #14
Sorry it took so long, and thanks @alistra for posting the command. I just implemented it with https://github.com/KrauseFx/PEM/pull/34 (not yet merged)

There is a new option:
[code]

which can be set using a command flag or environment variable. I'll close this issue for now, it will be included in the next release :+1:

[2015-03-08 21:58] #14 closed

[2015-03-08 22:10] bassrock commented on #14
Sweet!!! Thanks awesome toolset man!

[2015-03-25 14:28] ehlersd commented on #20
When PEM runs and I already have 2 Certs for the app, instead of a graceful exit with a message, I'm getting a bunch of ruby errors.  Is this the expected results?

    /Users/darren.ehlers/.rvm/gems/ruby-2.2.0@global/gems/pem-0.3.8/lib/pem/developer_center.rb:66:in `rescue in create_push_for_app': Could not create a new push profile for app 'org.table.test01'. There are already 2 certificates act

[2015-03-25 16:06] KrauseFx commented on #20
The error message is shown on the top of the stack trace:

[code]

[2015-03-25 16:51] ehlersd commented on #20
Correct, I saw/see that.  My question was related to if this is the expected way it handles this situation, or if a more graceful exit/response was intended.

[2015-03-25 18:49] KrauseFx commented on #20
What would you suggest? How should it handle the situation differently?

[2015-03-25 19:23] ehlersd commented on #20
Can you tell if there is 0, 1 or 2 certs already created?

[2015-04-01 07:33] jayjayesh commented on #14
it really helps me, thanks gays.

[2015-04-01 07:58] KrauseFx commented on #14
Yeah :rocket:

[2015-04-02 18:13] #31 closed

[2015-04-14 13:13] maxbritto commented on #20
Hi,

Could it download the most recent valid one or maybe revoke the oldest one in order to create a new one?

[2015-04-14 14:11] KrauseFx commented on #20
No, just downloading won't work, as the private key is not available from the Apple Dev Portal.

[2015-04-14 14:28] maxbritto commented on #20
Right that makes sense. How about revoking the oldest of the two existing certificates, maybe with an optional parameter ?

[2015-04-14 14:58] KrauseFx commented on #20
I don't want to revoke certificates, in general, all `fastlane` tools don't do any destructive actions.

I want to go for the solution described on the top. Just haven't had time to work on this yet.

[2015-04-14 15:05] maxbritto commented on #20
I understand, you're right if an unexpired profile already exists ignoring the call is probably the best solution. Thanks again for the awesome tools! I'm still discovery Ruby but I can definitely get involved and submit PR on small bugs.

[2015-04-14 15:08] KrauseFx commented on #20
@maxbritto great to hear, let me know if you need any help getting started with development.

[2015-04-20 09:05] mauropiccini opened #39 "PEM should create P12 file"
I'm using PEM and it works great but I have to manually export p12 certificates to use server python libraries and to use parse.com.
It would be really nice if PEM would automatically export it.

Mauro.

[2015-04-20 09:09] KrauseFx commented on #39
```pem --help````

[code]

Does the `-g` or `-s` option help you?

[2015-04-20 09:12] mauropiccini commented on #39
OMG, that's it!
Thanks

[2015-04-20 09:15] KrauseFx commented on #39
Great to hear :+1: Is there any way I can update the documentation to make this more clear for the future?

[2015-04-20 09:15] #39 closed

[2015-04-20 09:19] mauropiccini commented on #39
I think I missed it because I did not find it in the Environment Variables section in the main readme.md

[2015-04-20 13:20] frranck opened #40 "Gem::LoadError since updating to pem-0.5.4"
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/rubygems/specification.rb:2007:in `raise_if_conflicts': Unable to activate commander-4.2.1, because highline-1.7.2 conflicts with highline (~> 1.6.11) (Gem::LoadError)
	from /System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/rubygems/specification.rb:1176:in `activate'
	from /System/Library/Frameworks/

[2015-04-20 14:22] KrauseFx commented on #40
Could you try running `sudo gem update`?

[2015-04-20 15:22] frranck commented on #40
It fixed my problem, thanks a lot.

[2015-04-20 15:22] #40 closed

[2015-04-23 06:46] vigbk commented on #4
@KrauseFx The development cert generated doesn't accept empty password.

[2015-05-04 09:45] thomasSailing opened #42 "`mkdir': Operation not permitted - Please help !"
in terminal ...
sudo gem install pem ...  ok
xcode ... ok
$ pem
... Phantomjs does not appear to be installed in /Users/xxxx/.phantomjs/1.9.8/darwin/bin/phantomjs, installing!
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/fileutils.rb:245:in `mkdir': Operation not permitted - /Users/xxx/.phantomjs (Errno::EPERM)

[2015-05-04 09:59] KrauseFx commented on #42
Could you try running with `sudo` maybe?

[2015-05-04 10:14] thomasSailing commented on #42
Do you mean sudo pem ?

[2015-05-04 17:56] MacLemon commented on #42
What is your username that you substitute by xxx? Running pem as root won't do much good when it installs PhantomJS under the root user.

[2015-05-04 19:57] thomasSailing commented on #42
My username ist miniapfel.
Why the username is important? There is only one user on my mac.

[2015-05-09 04:16] sfransen opened #43 "what is the password for the .p12 that are created?"
I do not see it in the documentation .

[2015-05-09 07:50] KrauseFx commented on #43
There is no password in the p12 file

[2015-05-09 08:29] sfransen commented on #43
I tried that and it tells me wrong password

Sent from my iPhone5

[2015-05-09 18:51] sfransen commented on #43
I am using this command
pem -d  -g -s -a com.marlys.Math -u rentahippie@gmail.com &
pem -g -s -a com.marlys.Math -u rentahippie@gmail.com
It is not allowing me to import the .p12 file I tried no password and my password just incase it was passed to it nothing works.

it creates the .p12 but I can't import the item as password is not accepting anything I type in.
Where do I add a password to the p1

[2015-05-10 00:22] sfransen commented on #10
The inside name of the certs  should be named not just development or production.

I have many many push cert and if they are all called 'development' or 'production'. Then this is a useless tool to use. I need to name the each push cert for what each of them are. a keychain full of 'development' would be a nightmare to maintenance. If I can figure out where to change it I will send a push request

[2015-05-10 18:02] Allansk2 commented on #43
where do you find the passphrase?

[2015-05-10 18:14] snatchev commented on #43
@Allansk2 The password is set here: https://github.com/KrauseFx/PEM/blob/master/lib/pem/cert_manager.rb#L20

[2015-05-10 18:15] sfransen commented on #43
self.passphrase = ''

   https://github.com/KrauseFx/PEM/blob/master/lib/pem/cert_manager.rb
line 20.

on your computer
/Library/Ruby/Gems/2.0.0/gems/pem-0.5.5/lib/pem/cert_manager.rb
line 20

[2015-05-11 00:04] sfransen commented on #10
this change doesn't handle the inside name in the keychain.
it is still called 'development' or 'production'

[2015-05-11 08:47] jonnyijapan opened #45 "pem file rejected by server"
I dont know what went wrong but I generated pem files for a new app Im working on, but the server rejected the pem files, saying they were wrong or something. The (push) server in question is a 3rd party server hosted by an ad serving network.
It looks as if the pems does not include a private key, if I add them to the keychain. Might be the culprit?
I actually used PEM for two apps like last mont

[2015-05-11 09:37] KrauseFx commented on #45
When you run `pem --help`:

[code]

you can also store the private key which is used to create the `pem` file. Does that help?

[2015-05-11 14:42] Allansk2 commented on #43
Thanks, I have ran into the same problem for push notification. Now I could set my passphrase instead of empty.

[2015-05-11 14:47] KrauseFx commented on #43
@Allansk2 sorry, there is currently no way to set a password yourself. Why do you need one?

[2015-05-11 16:39] sfransen commented on #43
It work fine changing line 20
It doesn't work with no password not sure what OS you are using but in 10.10.3 you need a password or it not working

Sent from my iPhone5

[2015-05-20 21:50] ericertl opened #47 "Poltergeist timeout"
Hi Felix.
I'm getting this timeout error:
/Library/Ruby/Gems/2.0.0/gems/poltergeist-1.5.1/lib/capybara/poltergeist/web_socket_server.rb:87:in `rescue in send': Timed out waiting for response to {"name":"click","args":[2,39]}. It's possible that this happened because something took a very long time (for example a page load was slow). If so, setting the Poltergeist :timeout option to a higher value

[2015-05-21 06:18] pedro380085 commented on #43
Hi @KrauseFx ,

We always protect our PEM files, it would be great to set an automatic way to setting our default password on the files.

Thanks,

[2015-05-21 08:56] KrauseFx commented on #43
okay, okay, I'll implement this now.

[2015-05-21 09:40] KrauseFx commented on #43
Implemented with https://github.com/fastlane/PEM/commit/557747a8b91df6c8c300fda43aafad16fe957978

I'm pushing a new release soon :+1:

[2015-05-21 09:40] #43 closed

[2015-05-21 09:43] KrauseFx commented on #43
Please update using `sudo gem update pem`.

[2015-05-21 09:43] KrauseFx commented on #20
This is already implemented with the last version :+1:

[2015-05-21 09:43] #20 closed

[2015-05-21 09:44] #2 closed

[2015-05-21 09:45] KrauseFx commented on #10
This is implemented with the latest version :+1:

[2015-05-21 09:45] #10 closed

[2015-05-21 09:46] KrauseFx commented on #28
Does this still happen?

[2015-05-21 14:01] sfransen opened #48 "The common name needs to be able to be changed"
having every push cert as 'development' or 'production'  is not acceptable

there needs to be a way of changing the name of the inside name of the push cert.

[2015-05-21 16:29] KrauseFx commented on #48
Just asking for features and improvements without providing any help or submitting pull request is unacceptable.

Feel free to submit a pull request if you want this feature.

[2015-05-21 16:30] #48 closed

[2015-05-21 18:52] sfransen commented on #48
I have not figure where it is created if you tell me here it is I will fix it no problem
I just need an little info

Sent from my iPhone5

[2015-05-21 19:26] pedro380085 commented on #43
You are awesome @KrauseFx !

[2015-05-25 15:37] carlosefonseca commented on #28
I think it doesn't happen anymore.

[2015-05-25 15:37] #28 closed

[2015-05-26 00:59] KiranPanesar opened #49 ""\x82" from ASCII-8BIT to UTF-8"
Got this error when running `pem`. [Here is error image](http://i.imgur.com/zQwvbX7.png), it looks fine.

[Here's the back trace](https://gist.github.com/KiranPanesar/f77ba4140243e22d8b1a). Again, it seems fine. When I load that URL, the certificate downloads without any issue.

If you've not run into this before, I'll dig into it tonight/tomorrow and should find a fix. Let me know!

[2015-05-26 01:01] KrauseFx commented on #49
Oh, right. This was already fixed in `cert` and `sigh` with https://github.com/KrauseFx/sigh/pull/102. I'll quickly push a fix.

[2015-05-26 01:08] KrauseFx commented on #49
Fixed with https://github.com/fastlane/PEM/commit/076949eac817cddcb4eb30a69044523f144e1705 :+1: Thanks for reporting this issue.

[2015-05-26 01:08] #49 closed

[2015-05-26 12:33] macfanatic opened #50 "Crash while downloading generated pem"
Version 0.6.2 introduces a bug so that downloading the generated certificate fails with an undefined variable, introduced in this commit: 076949eac817cddcb4eb30a69044523f144e1705

[code]

[2015-05-26 14:04] KrauseFx commented on #50
Thanks for letting me know, I push a fix in a minute.

[2015-05-26 14:05] KrauseFx commented on #50
It's really time to integrate `spaceship` and add tests to `PEM`.

[2015-05-26 14:06] KrauseFx commented on #50
Fixed with https://github.com/fastlane/PEM/commit/0cadaa7e78bdfd2ddd39299b506025abaa656e23

[2015-05-26 14:06] #50 closed

[2015-05-26 16:45] KiranPanesar commented on #49
Hm, this is odd. I'm still running into this with `pem` version `0.6.3`.

[2015-05-26 17:05] KiranPanesar opened #51 "Another (different) "\x82" from ASCII-8BIT to UTF-8"
[Here's the backtrace](https://gist.github.com/KiranPanesar/a2be8baca9a266944868).

Very similar to #49 but appears to be a step further into the process.

[2015-05-26 17:05] KiranPanesar commented on #49
It is actually a little further along in the `pem` process. So I've created a new issue (#51) for it.

[2015-05-26 18:04] KiranPanesar commented on #51
Put in a pull request for this fix!

[2015-05-26 18:08] KrauseFx commented on #51
Just pushed something: https://github.com/KrauseFx/fastlane/commit/a3e2f61d43bdfd0f6384000b620ee34bcfbc553c

Can you download the latest version from https://github.com/KrauseFx/fastlane and run `sudo bundle install && sudo rake install` to install it and let me know if that solves the problem?

[2015-05-26 21:34] KiranPanesar commented on #51
Ah great. It looks like the Fastlane update fixes it :+1: Closing this issue.

[2015-05-26 21:35] #51 closed

[2015-05-26 22:11] KrauseFx commented on #51
Thanks for letting me know :+1:

[2015-05-27 13:16] yannisroy commented on #47
Same here, I canot to create a push certificate because of this error.

[2015-05-27 13:39] ericertl commented on #47
It's working for me now. It seemed I had a lot of lag communicating with ITC and that might be your problem as well.
Anyway it'd be nice to have a wait to tweak this poltergeist timeout value when this happens

[2015-05-27 16:04] KrauseFx commented on #47
As far as I see, the timeout value is at 90 seconds now, which is already insanely high. This has nothing to do with the timeout value, but with the Dev Portal sometimes not responding at all.
This will all be fixed really soon with the introduction of `spaceship` :+1:

[2015-05-27 16:49] yannisroy commented on #47
Thanks @KrauseFx, the portal is terribly slow today, I agree this might be the reason. Let's wait for `spaceship` then ;)

[2015-06-02 12:35] vladislive opened #53 "Using exitsting private key"
Hello. Is it possible to add path to existing private key as option in pem? I think it is good to have one private key file for all certificates in account.

[2015-06-03 03:20] KrauseFx commented on #53
The available options: `pem --help`

[code]

I'm not sure what you mean exactly? You want to use an existing private key for your push profile?

[2015-06-03 07:30] vladislive commented on #53
Yes. I want to use one private key for all my push profiles. It will be better to store at push server: one private.pem and a lot of push production .pems.

[2015-06-03 07:32] KrauseFx commented on #53
@vladislive sorry, that's not possible with `PEM` right now.

[2015-06-03 07:42] vladislive commented on #53
That's why i ask to add this. :-)

[2015-06-03 07:53] KrauseFx commented on #53
I'm not working on this feature, but feel free to prepare and submit a pull request if you find the time :+1:

[2015-06-03 15:21] salvabalza opened #54 "empty p12 password"
Hi,

I'd like to use an empty password when creating the certificate; I assume I should use the -p param, but how to properly set it to use an empty password?

[2015-06-03 15:29] salvabalza commented on #54
btw, I also tested without specifying "-p", but when trying to install the cert, it asks me for a password (empty password won't work).

[2015-06-04 01:39] KrauseFx commented on #54
When launching `PEM` without the `-p` parameter, no password will be set and you can use it with no password at all

[2015-06-04 06:30] salvabalza commented on #54
Unfortunately, this is not working as expected.

I launch the script with
pem -g -a <my_bundle_here>

it downloads the .pem and .p12 files, then I double click on the .p12 one, and I get the alert like in the screenshot below:
![schermata 2015-06-04 alle 08 23 49](https://cloud.githubusercontent.com/assets/961521/7978266/d148ac6e-0a93-11e5-8761-689e8d2aade0.png)

I click on "OK", and I get this er

[2015-06-04 06:38] sfransen commented on #54
You can't have a empty password I do not know how this code ever worked before I reported the problem

Sent from my iPhone5

[2015-06-04 06:42] KrauseFx commented on #54
@salvabalza: Why do you want to import the private key into your Keychain? You can just directly upload the`.pem` file to your push service or push service.

@sfransen Your comment is not helpful. `PEM` has worked since the first release and I've been using it for months already. You can just upload the `.pem` file to your push server and start sending push notifications.

No further actions are r

[2015-06-04 06:46] salvabalza commented on #54
@KrauseFx Why shouldn't I be able to do that? I think the point is:

When I don't provide any password, which is the password the .p12 file is encoded with? And how to get a .p12 file with an empty password?
Is that possible?

[2015-06-04 08:02] sfransen commented on #54
But not as a .p12 it not has and that is the point

Big companies pass around the .p12 not the .pem file

You can't have a .p12 with an password
Don't get get wrong I love what you have done
I will help with coding when I get some time but I am under deadline right now

Sent from my iPhone5

[2015-06-10 22:55] bmctigue opened #55 "running pem changed my hostName"
I ran pem successfully to update my apns certificates, but much to my dismay the script changed my mac's hostname from Bruces-MacBook-Pro to android-909c667c11d9b2e5!!! I had to manually reset it  as sudo and restart the console.

[2015-06-11 03:45] KrauseFx commented on #55
I really don't think that was caused by `PEM`, I do not do read or modify the host name.

[2015-06-11 03:45] #55 closed

[2015-06-16 05:54] dillan opened #56 "Error: no implicit conversion of nil into String"
I get the following error whenever using PEM on an app that contains a valid & current configuration.

    [00:39:10]: {:DEFAULT_PLATFORM=>:ios, :ENVIRONMENT=>"MyEnvironment", :PLATFORM_NAME=>:ios, :LANE_NAME=>"ios test", :BUILD_NUMBER=>0}
    [00:39:10]: no implicit conversion of nil into String
    [00:39:10]: fastlane finished with errors
    /Users/dillan/.rvm/gems/ruby-2.1.0@global/gems/pem-0

[2015-06-16 09:18] #56 closed

[2015-06-16 09:18] KrauseFx commented on #56
Thank you @dillan, I just pushed a fix for this issue :+1: This will be in the next release.

[2015-06-28 15:57] mortenholmgaard commented on #56
I have the same problem.
@KrauseFx Please make a PEM release soon :)

[2015-06-28 17:46] KrauseFx commented on #56
Done: https://github.com/fastlane/PEM/releases/tag/0.6.4

[2015-06-29 16:04] mortenholmgaard commented on #56
@KrauseFx How long does there go before I can get it with: sudo gem update PEM
It is still saying: Nothing to update
PEM -v say it is still 0.6.3

[2015-06-29 16:09] KrauseFx commented on #56
Should be working, 0.6.4 is already pushed: https://rubygems.org/gems/pem

Maybe try it lower case: `sudo gem update pem`.

[2015-06-29 16:20] mortenholmgaard commented on #56
Thanks - it worked with lowercase..

[2015-07-02 06:58] gregpassmore commented on #29
FYI I experienced a very similar error, with the screenshot of the CSR upload page as the error image. Hit it a few times in a row. Turns out it was because my internet connection was very slow. Works now.

[2015-07-03 10:25] jonnyijapan opened #57 "No play with a "Member" account..."
If using a "member" account, there is not enough access to edit the app identifier on the web site, so PEM will fail because it can't find the "Edit" button...

[2015-07-13 16:57] gfpacheco opened #58 "Error running from fastlane"
I have a fastlane project set up and it was working fine until last week.
Today I was prompted to update fastlane, after that the pem action is always crashing with the folowing error:

    [13:28:47]: Connection reset by peer - recvfrom(2)
    [13:28:48]: fastlane finished with errors
    /Library/Ruby/Gems/2.0.0/gems/poltergeist-1.5.1/lib/capybara/poltergeist/web_socket_server.rb:73:in `recv': C

[2015-07-14 13:30] doapp-ryanp opened #59 "ability to delete older cert if 2 exist"
I know one of the philosophies of fastlane is to not expose destructive actions, however I think the proposed new feature below is not really destructive but more of a replace.

I would like a sub command of `PEM` (ex: `--remove-oldest`) to do the following:

If 2 valid [production] push certificates exist, remove the oldest of the 2

While this command does delete an asset, it only does so if the

[2015-07-14 14:54] KrauseFx commented on #59
Hey @doapp-ryanp, that makes perfect sense in my opinion. It's true that I try to avoid implementing any destructive actions, but your argumentation sounds reasonable. `PEM` as it is now still uses web-scraping but will soon be upgraded to use [spaceship](https://spaceship.airforce), resulting in a much faster and more stable tool.

I can't promise any ETA though.

[2015-07-14 15:34] doapp-ryanp commented on #59
Sounds good.

I'm not that great with Ruby (nor a fan honestly) otherwise I'd offer to do the PEM spaceship upgrade

[2015-07-14 22:21] KrauseFx commented on #58
That's just an internet connection error. Unfortunately `PEM` wasn't yet updated to use [spaceship](https://spaceship.airforce), which is why it's a bit more unstable. Sorry about the troubles.

[2015-07-14 22:59] gfpacheco commented on #58
I'm not saying it's not a network problem, but I tried a few times and the error happened in all of them. When I tried standalone everything worked like a charm. I gotta publish more apps tomorrow, I'll test and report, thanks.

[2015-07-15 13:39] gfpacheco commented on #58
So, no, it's not a network problem, at least not one that I could detect. I keep getting the same error everytime the pem command is called from inside fastlane. Running the standalone command works fine.

[2015-07-16 16:19] plevavas commented on #58
First of all, thanks for these wonderful tools :)

I have the same issue, and i updated to fastlane 1.9.0.

[2015-07-17 08:26] mcactive commented on #58
I have exactly the same problem. Since fastlane 1.8.0 it doesn't work anymore.

The standalone still works.

[2015-07-17 10:14] KrauseFx commented on #58
Sorry about the troubles here. I really don't know what's causing this issue. If you find any useful information on why this could happen, please let me know.

[2015-07-17 10:23] mcactive commented on #58
I will take a better look this afternoon!

[2015-07-17 12:54] plevavas commented on #58
Some clues on my side.

I have this issue when i used "produce" and "pem" in the same lane. For example, i have not issue with this lane:
  lane :test do
    cert
    sigh
    pem
  end

or this one:
  lane :test do
    cert
    produce
    sigh
  end

But i have the issue with this lane :
  lane :test do
    cert
    produce(...)
    sigh
    pem
  end

[2015-07-17 13:07] mcactive commented on #58
I can confirm this!

On 17 Jul 2015, at 14:54, Pierre Levavasseur <notifications@github.com<mailto:notifications@github.com>> wrote:

Some clues on my side.

I have this issue when i used "produce" and "pem" in the same lane. For example, i have not issue with this lane:
lane :test do
cert
sigh
pem
end

or this one:
lane :test do
cert
produce
sigh
end

But i have the issue with this lane :
lane :t

[2015-07-17 13:31] milch commented on #58
I played around a little bit, I thought since these tools both still use PhantomJS + Poltergeist + Capybara that it has to have something to do with that, but even resetting the whole stack in between (clearing all sessions, completely resetting capybara and reloading the driver) runs does not help. So my guess is that there is that some environment variable or other shared state gets set during t

[2015-07-17 14:48] plevavas commented on #58
It didn't work too. I try to to run pem before produce and the error happens on produce.
[code]

I'm agree with you. I think it's an issue with PhantomJS + Poltergeist + Capybara. Perhaps, we need upgrade to the last version (PhantomJS 2.0 + Poltergeist 1.6)

[2015-07-17 17:33] gfpacheco commented on #58
This may be related to https://github.com/KrauseFx/deliver/issues/266 too. These 3 tools (pem, produce and deliver) should share something, the first one runs nicelly while the next ones crash

[2015-07-19 16:58] cdunkel opened #60 "Error Finding App Name"
I'm seeing an issue where PEM reports that it is unable to find an app with the ID I'm specifying, but the screenshot presented to show the error clearly shows that one is available.

Here is the error I'm getting from PEM:
[code]

I've replaced the actual ID with <my app id> for security.

This is my first time using PEM, so if this is something simple I apologize and appreciate any help.

Thanks

[2015-07-19 20:06] cdunkel commented on #60
After poking around for some more answers I came across this old issue about PEM [not working with long applications list](https://github.com/fastlane/PEM/issues/23).  I'm in a similar situation (we have about 75 apps), and testing PEM with an app that appears at the top of the list seems to work with no problems.  I just did a re-install of PEM to make sure I'm on the latest version, but I'll dou

[2015-07-20 06:57] plevavas commented on #58
I've updated to fastlane 1.11.0. It seems fix the issue. But i still have an issue when i use pem and deliver in the same lane. I think when pem and deliver will use spaceship, it will fix the issue.

[2015-07-20 07:59] KrauseFx commented on #60
@cdunkel Sorry about that. This will soon be fixed as soon as we have updated `PEM` to use [spaceship](https://spaceship.airforce).

[2015-07-21 02:59] cdunkel commented on #60
Thanks!  And thanks also for a great set of tools!

[2015-07-24 15:09] Darkreaper101 opened #61 "Cannot specify blank password for p12 cert"
Hi,

With the PEM tool I cannot specify a blank password for the p12 certificate.

I guess this is a bug somewhere because I did check out the code and
if a password isn't specified using the <b>p12_password</b> parameter then
it should return a blank password.

See line 20 in <b>cert_manager.rb</b>
[code]

[2015-07-24 15:17] KrauseFx commented on #61
By default, all PEM files created by `PEM` will not have a password, you don't need to specify anything.

[2015-07-24 15:33] Darkreaper101 commented on #61
I did try it, and it doesn't work if you leave out the password and try to install the p12 cert manually into your keychain it gives a invalid password error.

[2015-07-24 16:20] KrauseFx commented on #61
Why do you want to install the `PEM` file into your keychain? I usually upload it directly to the server.

[2015-07-24 16:44] Darkreaper101 commented on #61
No I want to install the P12 cert file to my keychain.

[2015-07-24 16:44] Darkreaper101 commented on #61
Not the PEM file.

[2015-08-10 11:46] branoh opened #63 "Not detecting certificate expiration correctly"
Even if my push certificate is expiring in less than 30 days, this message is shown:

#$: pem -a com.myapp.id -u username

I guess it's because of the line 13 in manager.rb, it's seems to be checking just the presence of the certificate and not the expiration date.
[code]

followed by:
[code]

Expected behaviour: create a new certificate if the certificate expires in less than 30 days without havi

[2015-08-10 22:30] KrauseFx commented on #63
Thanks for reporting the issue, this was introduced with the latest update which now uses `spaceship`. I'll push a fix tomorrow morning :+1:

[2015-08-11 13:14] KrauseFx commented on #63
Fixed with https://github.com/fastlane/PEM/commit/23afff8e1ade5d6ac923b4d27c08c04b2a4af0a0, a new release was already pushed :rocket:

Thanks again @branoh

[2015-08-11 13:14] #63 closed

[2015-08-14 00:28] chappejw commented on #54
I also need to generate .p12 files with a blank or empty string "" password because I have thousands and thousands of push certificates and I do not want to have to manage passwords on these, but I am unable to do this with pem. The -p parameter is also not recognized.

If pem is creating the .p12 file with no password, then when I go to install it into my keychain why does it not accept empty or

[2015-08-14 09:05] KrauseFx commented on #54
@chappejw I'm using `PEM` like this: I run `PEM` without specifying a password, I upload the `.pem` file to the server and use it without a password there. I don't import it into my local Keychain as I don't see any benefit doing so.

[2015-08-14 15:12] KClough opened #64 "Issue if wrong password entered"
Crash with InvalidUserCredentialsError if user enters wrong password. User not prompted for correct password again unless keychain item removed.

I recommend pem prompt the user for a new password if a InvalidUserCredentialsError is detected.

[2015-08-14 15:13] snatchev commented on #64
@KrauseFx feel free to assign this to me, I am working on this issue.

[2015-08-14 15:35] KrauseFx commented on #64
Perfect, thanks for taking over @snatchev :+1:

[2015-08-17 08:57] SPAHI4 opened #65 "Download existing certificate"
When i use pem with --force it creates new certificate and downloads it. But with no --force it doesnt occur. How i can download existing certificate?

[2015-08-17 09:02] KrauseFx commented on #65
You can't, as the private key is only stored on your local computer. If you *need* a push certificate, you'll have to use the `--force` option :+1:

[2015-08-17 09:02] #65 closed

[2015-08-17 09:12] KrauseFx commented on #65
Let me know if you have any other questions.

[2015-08-17 18:52] chappejw commented on #61
Having the same issue. My .p12 file is used by another system which needs the certificate password. if I omit it or specify an empty string "", when I install the pem generated .p12 certificate, at the password prompt it fails with an incorrect password error when I just click OK without entering a password. Would sure love to solve this one.

[2015-08-24 09:05] muffe opened #66 "Crash in various stages of pem generation (`sysread_nonblock': end of file reached (Faraday::ConnectionFailed))"
I've gotten that error so far when logging in, when choosing my team and when generating the CSR.
Heres a sample console output:

[code]

[2015-08-24 14:13] snatchev commented on #66
@muffe, I believe this is due to intermittent network problems when talking to Apple's servers. Perhaps we can add some retry logic. At the very  least, we can improve the error messaging.

Thanks for reporting.

[2015-08-25 19:20] chappejw commented on #54
ok, I will also give this a try, however, I use the .p12 files not the .pem because these are used in a Windows server. I will advise if these also work without password.

[2015-08-30 21:27] chappejw opened #67 "pem cannot create development push cert without --force"
If you create a distribution push cert first using pem, and then try using the -d or --development flag on a second run to create the development push certificate, pem will advise that an existing push notification profile already exists and to use force if you still want to create one. Shouldn't force only be necessary to create one that will overwrite the existing? No development push cert exist

[2015-08-31 01:10] KrauseFx commented on #67
`--force` doesn't overwrite an existing profile but tries to create a new one even if an old one is still there.

[2015-09-01 10:23] vCrespoP commented on #67
I'm having this exact problem. In my opinion it's something not handled well in pem code:

- Already existent push certificate (PRODUCTION).
- NOT existent push certificate (DEVELOPMENT).
- Run pem with -d (or through fastlane with development: true)
- Pem terminates with "You already have an existing push certificate" with is obviously false.

(I don't want to use the --force option so I fill all

[2015-09-01 13:02] vCrespoP opened #68 "App with bundleId but no iTunes Connect App"
---  EDITED -----

Wrong issue, this feature is working fine.
Sorry for the inconvenience.

---  EDITED -----

Hi,

I have an app created in ios dev panel (the one along certificates) with its bundle ID defined BUT I don't have this app in iTunes Connect, as it's an enterprise app and won't be in the store.

When running 'pem', I'm getting the following error:
"Could not find app with bundle id 'B

[2015-09-01 13:20] #68 closed

[2015-09-01 15:40] KrauseFx commented on #67
That is correct, thanks for letting me know, I'll push a new version in a few minutes :+1:

[2015-09-01 15:44] #67 closed

[2015-09-01 15:48] KrauseFx commented on #67
Please update to the new version :rocket: https://github.com/fastlane/PEM/releases/tag/0.7.3

[2015-09-02 06:45] vCrespoP commented on #67
You're the boss.

Thanks for being amazing!

[2015-09-02 17:53] KrauseFx commented on #67
:smiley:

[2015-09-13 15:49] vCrespoP opened #70 "If certificate exist, possibility to download."
Hello KrauseFx,

Would this be possible for PEM:
- Push certificate already exists
- But it's not found locally in the folder where they get stored if using pem to create them
- Download .pem, .p12, .pkey

I would be able to automate more my processes if this could be done easily, and I wouldn't want to create new ones if they exists and are not expired.

Thanks as usual!
:D

[2015-09-13 19:29] KrauseFx commented on #70
Hey, sorry that's not possible, since you have to have the private key locally somewhere. From the Developer Portal you can only get the push certificate, not the private key / PEM file.

If you know a way to get everything from the Dev Portal, let me know :+1:

[2015-09-13 19:29] #70 closed

[2015-09-14 06:52] salvabalza commented on #61
Duplicate of #54

[2015-09-14 15:41] KrauseFx commented on #61
Good point, moving further discussions to https://github.com/fastlane/PEM/issues/54

[2015-09-14 15:41] #61 closed

[2015-09-14 15:50] salvabalza commented on #54
After updating to 0.8.0, the -p parameters seems no more supported, I'm getting this:

/Library/Ruby/Gems/2.0.0/gems/commander-4.3.4/lib/commander/runner.rb:363:in `parse_global_options': missing argument: -p (OptionParser::MissingArgument)

So I'm now confused on the whole way to set (or to not set) a pwd in the .p12 generated file.

[2015-09-14 15:59] KrauseFx commented on #54
@salvabalza `-p` is still supported

[code]

Can you post the command you tried?

[2015-09-14 20:12] salvabalza commented on #54
My bad, it's crashing if no parameter is set, so it's still working if used along with an explicit password.

[2015-09-15 15:42] KrauseFx commented on #54
@salvabalza Okay, please share the command you used, the error message you received and the output that was shown :+1:

[2015-09-15 17:51] salvabalza commented on #54
ok, let me recap the whole issue here:

1) `pem -g -p` gives this error:
`/Library/Ruby/Gems/2.0.0/gems/commander-4.3.5/lib/commander/runner.rb:363:in 'parse_global_options': missing argument: -p (OptionParser::MissingArgument)`
this is fine, we could have a gentle message, but it's not an issue;
2) `pem -g` works, and generates a .p12 file whose password is unknown (at least to me), every passwor

[2015-09-15 18:10] KrauseFx commented on #54
@salvabalza

1) You have to specify the password, try `pem -g -p "my_pass"`
2) Blank password works with push notification services, not with the Mac OS X Keychain
3) Perfect :+1:
4) It's blank by default, the Mac Keychain just can't open it. Try uploading it to your push server and it will actually work.

[2015-10-01 03:27] jonnyijapan commented on #45
Just a quick update. Nothing real new. Just busy with things :-)

Just tried this again with the latest pem version, but the service (http://fello.net) we often use for Push does not like the pems created by this tool. Not sure why. The pem needs to include the p12 key inside of it, or something like that - no more investigation performed so far.

[2015-10-02 18:27] ericertl opened #71 "not an issue but a question"
Can pem run in a linux server?
I saw some dependencies for xcode-select, so I'm assuming it's not possible

[2015-10-02 18:43] KrauseFx commented on #71
I haven't tested it yet, so give it a try and let me know if it works :+1:

[2015-10-02 18:55] ericertl commented on #71
pem -a com.xxxxxxxx.xxxxxxx -u xxxxxx@xxxxxxx.com
/home/ubuntu/.rvm/gems/ruby-2.1.2/gems/pem-0.8.0/lib/pem/dependency_checker.rb:9:in
``': No such file or directory - xcode-select (Errno::ENOENT)
from
/home/ubuntu/.rvm/gems/ruby-2.1.2/gems/pem-0.8.0/lib/pem/dependency_checker.rb:9:in
`check_xcode_select'
from
/home/ubuntu/.rvm/gems/ruby-2.1.2/gems/pem-0.8.0/lib/pem/dependency_checker.rb:5:in
`chec

[2015-10-06 01:50] jonnyijapan commented on #45
Finally took some time to look into this more.

I was able to use the resulting .p12 by doing this set of commands in order, to get another .pem (apns_dev.pem) in the end:
[code]

I just tried this on a dev build and it worked.
That set of commands is part of what I normally used before using this "pem" command, after having exported the cert+key pair from the keychain.
Yes, I have to do some extr

[2015-10-06 01:50] #45 closed

[2015-10-06 21:22] KrauseFx commented on #71
I'll update PEM and sigh to not verify the Xcode installation.

[2015-10-07 14:56] ericertl commented on #71
Thanks Felix

[2015-10-07 14:56] #71 closed

[2015-10-07 14:59] KrauseFx commented on #71
I pushed the new version of `PEM`, let me know if that works for you :+1:

[2015-10-12 20:35] KrauseFx commented on #71
Does it work?

[2015-10-12 20:49] ericertl commented on #71
Sorry for the delay. It works like a charm :+1:
Thanks @KrauseFx

[2015-10-12 20:49] KrauseFx commented on #71
Yeah :+1: Have you also tried `sigh` on a Linux machine? It should work as well.

[2015-10-12 20:55] ericertl commented on #71
I haven't as I have the provisioning profiles on macs and use sigh on demand, but having the push certificates renewal automated on linux works great.

[2015-10-19 20:34] dtn-marknorgren opened #72 "UnexpectedResponse - 302 Found"
Error Output:

[code]

Please let me know if there is anymore information needed.

[2015-10-19 20:47] dtn-marknorgren commented on #54
@KrauseFx It would be helpful to document this behavior of not passing a "-p" parameter defaults to no password.

Not sure where this should be documented ? README, --help or both ?

[2015-10-19 23:03] pedro380085 commented on #72
Same thing is happening here.

[2015-10-19 23:11] pedro380085 commented on #72
Some additional debugging information.

I know that Apple servers suck, so I created a script that runs the same tool at least 50 times, so we be sure that the bug is not on fastlane but on Apple servers. After 6 tries, a certificate was successfully created for me.

@dtn-marknorgren Just try some more times and it will work.

[2015-10-22 19:47] wbroek opened #73 "Login error personal developer account"
When entering the username (and password first time) i get the below error where the page listTeams.action pops up and this page isn't there for a personal account, there are no teams.

`
/Library/Ruby/Gems/2.0.0/gems/spaceship-0.12.2/lib/spaceship/client.rb:255:in parse_response: {"responseId"=>"218f7dd9-2d3e-4d37-a25f-1b47fe11ed4f", "resultCode"=>1100, "resultString"=>"authentication.failed", "u

[2015-10-22 19:50] truth3 commented on #73
@wbroek Any action related to the developer portal is returning this error (see issue below). If you have the assets local, then you can still build and upload to iTunes Connect.

https://github.com/KrauseFx/sigh/issues/188

[2015-10-22 20:10] wbroek commented on #73
@truth3 yeah, Apple is doing it again... thank

[2015-10-22 20:10] #73 closed

[2015-10-26 17:44] KrauseFx commented on #72
@pedro380085 ugh :cry:

[2015-11-06 14:03] billburgess commented on #25
+1

[2015-11-27 06:04] jakunico commented on #54
+1

In my case, I'm using a third party service for sending push which requires the `private key` instead of the `pem`.

When I generated my certificates I set an empty password as everyone, but when trying to open the `.p12` I'm required one.

The thing is, does `PEM` set some random password to the `.p12` or something similar?

Thanks!

[2015-11-29 08:39] abcjjy commented on #30
I met this problem today. I only use deliver utility. And I've published several app with it. I'm not sure whether it is the cause.

[2015-12-07 22:49] doapp-ryanp opened #76 "missing team id in non interactive mode blocks"
We are using pem from a non-interactive shell (jenkins).  If we pass a `--team_id` to the command who's apple developer account has expired, the pem command spits out a warning `Couldn't find team with ID` and then hangs for user input (after displaying a list of team ids).

Is there a way to tell pem that we are not in an interactive mode, and that any scenario where user input is required should

[2015-12-10 22:19] KrauseFx commented on #76
Mh, similar to https://github.com/fastlane/credentials_manager/issues/9#issuecomment-163765228

I don't know a reliable way to detect if the current process is running on a non-interactive shell. Let me know if you have an idea :+1:

[2015-12-11 01:48] doapp-ryanp commented on #76
I'm not sure how todo it in ruby, but in node its easy - you just check if your process is tty: https://nodejs.org/api/tty.html#tty_tty

Looks like this may be the way to do it in ruby: http://stackoverflow.com/questions/3384982/how-can-i-determine-if-my-process-is-being-run-interactively

[2015-12-12 04:00] KrauseFx commented on #76
@doapp-ryanp interesting, thank you so much for this, I'll take a look on how I can best integrate it :rocket:

[2015-12-12 04:07] KrauseFx commented on #76
And here we go: https://github.com/fastlane/fastlane_core/commit/a5f24e46cc2168c46a9051c3b522663e01fc0ace

Let me know what you think.

This is all part of the new `UI` layer, which will be rolled out to all tools over the next few weeks :rocket:

[2015-12-12 04:07] #76 closed

[2015-12-15 14:53] doapp-ryanp commented on #76
Awesome thanks.  The only environment I have to run fastlane tooling in is our production environment - so I wont be able to test this and give feedback until the new version of the tooling is released.  However doing a quick code review of your changes looks to be what we were looking for.

[2015-12-17 21:19] icodebuster opened #77 "output_path is not working."
@KrauseFx

PEM is not respecting the **output_path** parameter

Details
**Xcode7.2**
**PEM -v 1.1.0**

**The command and parameters used to launch (Part of fastlane)**
[code]
**Error**
[code]

*__But if I create the directory structure before running PEM its working.__*

-----------------

**Is there any correct order in which I need to run the following**
1. cert
2. sigh
3. pem

If I run in the a

[2015-12-18 15:24] aleufms commented on #54
If we try to put a password through Fastlane:

    pem(
      output_path: "Certificates",
      development: true,
      p12_password: "chupajapones"
    )

it returns error:

fastlane finished with errors
Successfully submitted a crash report. If this is a problem with one of the tools specifically,
please submit an issue on GitHub and attach the following number to it: '39dba1faffd7e0e8aff983f6

[2015-12-22 16:05] snatchev commented on #54
@jakunico `pem` will produce a valid `.p12` with no passphrase. Apple's Keychain Access will refuse to open it with no passphrase, even though it's valid.

[2015-12-22 16:59] ohwutup commented on #77
hey @icodebuster, thanks for bringing this up! it looks like right now, `pem` does not create the directory for you if it doesn't exist. current implementation is here: https://github.com/fastlane/pem/blob/7985134efca8f96d4c5a52d60641f6834a65f70b/lib/pem/manager.rb#L73

[2015-12-22 17:04] icodebuster commented on #77
@ohwutup That is right, I guess it needs to work exactly like `cert` or `sigh` i.e. create folder if it does not exist.

[2015-12-22 17:17] jakunico commented on #54
I understand, thanks for the explanation @snatchev

[2016-01-12 02:11] KrauseFx commented on #77
Yeah, sounds right. @ohwutup do you want to add this or should I take over?

[2016-01-12 20:10] ohwutup commented on #77
no worries @KrauseFx! i think this little fix should do it right? https://github.com/fastlane/pem/pull/80

[2016-01-12 22:10] KrauseFx commented on #77
Thanks @ohwutup

[2016-01-12 22:59] sylvanaar opened #81 "Possibly Incorrect Production Certificate Generation"
When I generate the production APNS certificate, and then I import the p12 into the keychain i see the certificate name:

Apple Push Services: <my app id>

Instead of

Apple Production IOS Push Services: <my app id>

The development version of the certificate does properly import as

Apple Development iOS Push Services: <my app id>

If I create the certificate using the developer portal it will im

[2016-01-13 05:31] #77 closed

[2016-01-18 11:17] chezzdev opened #82 "Download .cer file"
Hello!
I use the same .crt file for all of my push certificates and I need to generate .pem (I mean, file) by myself.
Because of that I really need that .cer file that is generated by dev center. Can the pem (I mean, the tool) help me with getting .cer file for me or should I stick with its manual creation via dev center?
Thanks in advance.

[2016-01-18 20:00] KrauseFx commented on #82
Not sure why you need the `.cer` file, but for certificates you can use [cert](https://github.com/fastlane/cert)

[2016-01-22 08:29] chezzdev commented on #82
As I said I'm using same certificate request for all of my push notifications. I see that there's no option to specify existing certificate request so I would like to download ```.cer``` files from dev center and make push certificate for server by myself.

BTW, I've already solved this need with ```spaceship```. So thank you for that :)

[2016-01-22 19:54] KrauseFx commented on #82
Oh great, so is this issue ready to be closed?

[2016-01-22 20:05] chezzdev commented on #82
As long as no one is sharing my need, I think it is.

—
С уважением, Александр Приставко.

On 22 янв. 2016 г., 22:54 +0300, Felix Krause<notifications@github.com>, wrote:

[2016-01-22 20:46] chezzdev commented on #82
And just to leave things clear, I don't think it's possible to accomplish this task with help of ```cert``` because it's intended to create code signing certificates not the ones for push-notifications. Please correct me if I'm wrong.

[2016-01-22 21:56] KrauseFx commented on #82
Yeah :+1:

[2016-01-22 21:56] #82 closed

[2016-01-25 15:10] owigley opened #84 "fetch existing certificates if present"
When the certificate is already present in the Apple portal,  it would be ideal if it could be retrieved, rather than just saying "You already have a push certificate, which is active for more than 30 more days. No need to create a new one"

[2016-01-25 17:47] KrauseFx commented on #84
That's not possible, since the private key is only stored on your local machine, and Apple only stores the public certificate

[2016-01-25 17:47] #84 closed

[2016-01-29 11:02] jcampbell05 opened #85 "Integrate into Match ?"
Would be great to have this in the repo as well :)

[2016-01-29 19:39] KrauseFx commented on #85
What would you want to store? pem files? p12 files?

[2016-01-29 20:13] jcampbell05 commented on #85
Mainly the cer and p12. The pen could be genrated from those two things.and match already handles cer and p12

[2016-01-31 16:30] koenpunt commented on #54
This empty password causes problems when I want to use it with apps like [Knuff](https://github.com/KnuffApp/Knuff)

[2016-02-02 14:34] doapp-ryanp commented on #59
Now that PEM is using spaceship under the covers, is this feature request more feasible to pull off?

[2016-02-02 19:08] KrauseFx commented on #59
Yeah, tagged as feature :+1:

[2016-02-09 16:22] steveharman commented on #54
Must admit to being a little confused by this.  I'm trying to use pem to generate a .p12 without a passphrase, yet when I use _openssl pkcs12 -info -in production_com.my.p12_ to verify my p12 it asks me to  _"Enter Import Password:"_

I didn't use -p with pem, simply:  _pem --app_identifier [my_app_bundle] --force_

[2016-02-17 16:02] doapp-ryanp opened #88 "OpenSSL error when trying to renew"
I have crash reports enabled, here is the id: `ed0f8bbdadf7221c0a6d61780a21fe26`

Getting error:
`OpenSSL::PKey::RSAError: BN lib`

[code]

[code]

Any idea what could be going wrong here?  Thanks in advance

[2016-02-22 19:26] inakiabt commented on #81
Same doubt here.

[2016-02-23 02:55] KrauseFx commented on #81
There might be a difference, however the certificates work perfectly on any push notification service :+1:

[2016-02-23 18:38] inakiabt commented on #81
:+1:

[2016-02-23 20:12] mrkd opened #89 "Option for naming private key"
It would be nice to have the option to name the private key generated in the keychain.

Currently if I created a production Certificate the generated private key is named 'production' in my Keychain. I usually name these similar to my Certificate so they are easier to keep track of in my Keychain.

[2016-02-23 20:19] asfalcone commented on #47
Closing this since (spaceship)[https://github.com/fastlane/spaceship] should have handled these issues. If you're still running into problems using spaceship, please open a new issue there!

[2016-02-23 20:19] #47 closed

[2016-02-23 20:23] #81 closed

[2016-02-24 21:23] asfalcone commented on #58
Going to close this since it hasn't updated in quite a while and both `pem` and `deliver` use spaceship now! 🚀

[2016-02-24 21:23] #58 closed

[2016-02-24 21:26] asfalcone commented on #15
This issue has been inactive for some time so I am going to close it. Please update to the latest version of `pem` and let us know if you still run into this problem!

[2016-02-24 21:26] #15 closed

[2016-02-24 21:29] #42 closed

[2016-02-24 21:30] asfalcone commented on #57
Going to close this issue since it was opened against the older version of `pem` that didn't use spaceship. Finding buttons on the page should no longer be an issue.

[2016-02-24 21:30] #57 closed

[2016-02-24 21:44] asfalcone commented on #54
I'm going to close this issue since the documentation has been updated and `pem` operates as expected.

@steveharman if you just hit enter at the Import Password prompt you can just continue.

[2016-02-24 21:44] #54 closed

[2016-02-24 21:55] asfalcone commented on #60
Closing this as `pem` has been updated to use [spaceship](https://spaceship.airforce)

[2016-02-24 21:55] #60 closed

[2016-02-25 01:57] vpolouchkine commented on #89
Good idea. I will share this with the team and see what we can do in a future release. I’ll reopen this ticket and keep you updated when we get a chance to revisit this, stay tuned :+1: If you want to tackle this yourself, check out the [countdown](https://github.com/fastlane/countdown) repo to learn how to contribute to `fastlane`.

[2016-02-25 01:57] #89 closed

[2016-02-25 09:54] fantattitude commented on #85
Yeah that's something I'd find useful too, you never know when you'll need them again.

[2016-02-25 20:37] KrauseFx commented on #85
@fantattitude I don't think you'll ever need them again. You can always just revoke certs and generate new ones.

[2016-02-25 22:21] jcampbell05 commented on #85
For me it's just being able to easily commit them to the git repo. And have them in the same place so people such as the server team can find it.

[2016-02-26 02:13] siddo420 opened #90 "'unable to get local issuer certificate' certificate error"
I am using instructions at https://github.com/argon/node-apn/wiki/Preparing-Certificates and certificates and keys generated using PEM but when I run the test command I get this error.
[code]
Any idea whats wrong with it?

Command used:
[code]

[2016-02-26 03:46] asfalcone commented on #90
@siddo420 Could you provide a bit more of the output? Is there a stack trace included? Thanks!

[2016-02-26 04:05] siddo420 commented on #90
Is this what you're looking for?
[code]
got
[code]

[2016-02-26 15:24] siddo420 commented on #90
fixed using CA cert

[2016-02-26 15:24] #90 closed

[2016-02-26 18:50] asfalcone commented on #64
I'm going to close this as I think it has been fixed. If you attempt to login with an invalid password you're prompted to enter a new one. The invalid one isn't stored in your keychain.

![image](https://cloud.githubusercontent.com/assets/1848683/13361979/df21c252-dc8f-11e5-960f-818da80d61c0.png)

Feel free to open another issue if there is a use case that I've missed! 🚀

[2016-02-26 18:50] #64 closed

[2016-02-26 20:53] KrauseFx commented on #64
Yeah, thanks for updating this @asfalcone :+1:

[2016-03-01 13:19] Sega-Zero commented on #59
any ETA on this or is it still unknown?

[2016-03-01 18:10] KrauseFx commented on #59
@Sega-Zero Sorry, we're currently not working on this. However feel free to take a look at [countdown](https://github.com/fastlane/countdown) to get started with contributing to `fastlane` :+1:

[2016-03-04 07:14] MickeyHub commented on #88
Hey, @doapp-ryanp , have you try update your openssl.
https://github.com/fastlane/fastlane/blob/master/docs/FAQs.md#im-getting-an-ssl-error

[2016-03-04 20:00] asfalcone commented on #72
Going to close this issue since it has been open for a few months without any updates and was identified as being an apple issue.

[2016-03-04 20:00] #72 closed

[2016-03-07 18:49] Luke-SF commented on #54
Still not working, unfortunately. pem -a (id) -u (username) -s --generate_p12 gives a p12 that keychain asks the password for, and it isn't user password.

[2016-03-07 18:59] #88 closed

[2016-03-07 18:59] #85 closed

[2016-03-07 18:59] #66 closed

[2016-03-07 18:59] #59 closed

[2016-03-07 18:59] #53 closed

[2016-03-07 19:00] #25 closed

[2016-03-07 20:05] programmin1 opened #92 "Please keep .certsigningrequest"
It appears the pem command doesn't keep the .certsigningrequest when run for an app.

When time comes to renew the push certificate, the easiest way to fix it is to reupload the certsigningrequest, download the new cert and replace wherever you were using the expired one.

[2016-03-07 20:07] KrauseFx commented on #92
Sorry, it's currently not planned to keep that file. Any reason why you wouldn't just generate a new PEM file?

[2016-03-07 20:14] fastlane-bot-helper commented on #92
This issue was migrated to https://github.com/fastlane/fastlane/issues/1949. Please post all further comments there.

`fastlane` is now a mono repo, you can read more about the change in our [blog post](https://krausefx.com/blog/our-goal-to-unify-fastlane-tools). All tools are now available in the [fastlane main repo](https://github.com/fastlane/fastlane) :rocket:

[2016-03-07 20:14] #92 closed

[2017-05-11 21:29] doapp-ryanp opened #96 "missing team id in non interactive mode still blocks"
Commenting for https://github.com/fastlane-old/pem/issues/76 is locked so started a new issue here.

Running PEM 2.26.0 in a jenkins non-interactive environment.  The issue above was to request a new feature that allowed a non-interactive program to detect when team ID is not found, and to take corrective action.

I just ran into the problem in v2.26.0:

[code]
PEM then blocks my program as it is

[2017-05-12 08:22] KrauseFx commented on #96
Hey @doapp-ryanp, please submit this issue again on the main repo of _fastlane_ 👍

[2017-05-12 08:22] #96 closed, assigned to nobody

[2017-05-12 08:23] KrauseFx commented on #96
The reason why this doesn't work yet is that spaceship doesn't have access to fastlane_core. However that's something we want to fix. Please submit an issue so we can track it